*{
    margin: 0;
    padding: 0;
}
body{
    
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff );
}
.head {
    width: 100%;
    height: 100px;
    background-color: rgb(149, 194, 227);
}
.head img{
    height: 70px;
    width: 70px;
    margin-left: 1.9%;
    margin-top: 13px;

}
.nav{
    background-color: chocolate;
    width: 100%;
    height: 45px;
    position: relative;
    
}
.list{
    margin-left: 20px;
    
}
.list a{
    color:white;
    display: inline-block;
    margin-left: 5px;
    margin-top: 11px;
}
.header {
    color: white;
    position: absolute;
    left: 8%;
    top: 15px;
    font-size:23px;

}

.header p {
    position: absolute;
    top: 85%;
}
.btn{
    position: absolute;
    right: 2%;
    top: 20%;
    font-size: 0.7rem;
    padding: 8px 0;
    border-radius: 5px;
    outline: none;
    border: none;
    width: 80px;
    background: rgb(125,125,235);
    color: white;
    cursor: pointer;
}
#sign-up{
    position: absolute;
    right: 8%;
}
.btn:hover{
    background: #07001f;

}
img{
    width: 100%;
    height: 230px;
    margin-top: 1%;
}
.student{
    width: 350px;
    height: 200px;
    position: absolute;
    left: 13%;
    top: 55%;
}.stu h3{
    
    position: absolute;
    left: 21%;
top: 84.5%;
color: blue;
font-size: 28px;
}
.stcount{
    width: inherit;
    height: inherit;
    background-color: greenyellow;
    position: absolute;
    left: 20%;
    top: 90%;
    color: black;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 9px;
    font-size: 25px;
}
.teacher{
    width: 200px;
    height: 200px;
    position: absolute;
    left: 43%;
    top: 55%;
}
.tea h3{
    
    position: absolute;
    left: 46%;
    top: 84.5%;
    color: blue;
    font-size: 28px;

}
.tcount{
    width: inherit;
    height: inherit;
    background-color: greenyellow;
    position: absolute;
    left: 45%;
    top: 90%;
    color: black;
    padding-left: 36px;
    padding-right: 36px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 9px;
    font-size: 25px;

}
.School{
    width: 200px;
    height: 200px;
    position: absolute;
    left: 67%;
    top: 55%;
}
.sch h3{
    
    position: absolute;
    left: 71%;
    top: 84.5%;
    color: blue;
    font-size: 28px;

}
.scount{
    width: inherit;
    height: inherit;
    background-color: greenyellow;
    position: absolute;
    left: 69.5%;
    top: 90%;
    color: black;
    padding-left: 39px;
    padding-right: 39px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 9px;
    font-size: 25px;
}
.line{
    width: 100%;
    height: 100px;
    background-color: rgb(67, 67, 205) ;
    margin-top: 22%;
    margin-bottom: 3% ;
}
.line h1{
    color: white;
    padding-left: 350px;
    padding-top: 25px;
    
}





footer{
    box-sizing: border-box;position: relative;
}
.footer{
    width: 100%;
    height: 70px;
    background-color: rgb(149, 194, 227);
    margin-top: 0%;
   
}
.footer p{
    color: white;
    font-size: 20px;
    padding-top: 15px;
    margin-left: 60%;
    
}